---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
UseTab: Always
IndentWidth: 4
TabWidth: 4
InsertBraces: true
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: true
